<div class="session-dashboard">
    <div class="session-group">
        <div class="session-group-item">
            <h2>Active</h2>
            <ul class="session-list">
                <li class="session-list-item"><h3>2023-09-03<fa-icon [icon]="faTimes"></fa-icon></h3>Open by: john</li>
                <li class="session-list-item session-list-item-owner"><h3>2023-09-02<fa-icon [icon]="faTimes"></fa-icon></h3>Open by: natasha</li>
            </ul>
        </div>
        <div class="session-group-item">
            <h2>Closed</h2>
            <ul class="session-list">
                <li class="session-list-item"><h3>2023-09-03<fa-icon [icon]="faTimes"></fa-icon></h3>Open by: john</li>
                <li class="session-list-item session-list-item-owner"><h3>2023-09-02<fa-icon [icon]="faTimes"></fa-icon></h3>Open by: natasha</li>
            </ul>
        </div>
    </div>
</div>
