.session-dashboard {  
    display: flexbox;
}
  
.session-group {
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    width: fit-content;
    display: flex;
}
  
.session-group-item {
    transition: 0.3s;
    width: 370px;
    min-height: 100%;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-right: 2em;
    flex: 1;
}

.session-group-item h2 {
    padding-top: 0;
    margin-top: 0;
}
  
.session-list {
    list-style-type: none;
    padding: 0;
}

