.session-create-container {
    padding-bottom: 1em;
    padding-right: 1em;
    /* display: flex; */
    margin-bottom: 3em;
    /* align-items: right; */
}
/* 
.create-form {
    display: inline-block;
} */

.create-form-control {
    margin: 10px;
}

.create-form-control-label {
    font-weight: bold;
    margin-top: 0.5em;
    display: block;
}

.create-form-control-input {
    width: 98%;
    /* height: 40px;
    margin: 5px;
    padding: 3px 7px; */
/* 
    padding: 0.5em; 
    height: 2em; */
    /* margin-right: 0.5em; */
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}