<div class="session-create-container">
  <input type="button" class="btn" (click)="toggleForm()" *ngIf="!showForm" value="Create Session" />
  <form *ngIf="showForm" (submit)="createSession()" class="create-form">
    <h2>Create a new Session<fa-icon [icon]="faTimes" (click)="toggleForm()"></fa-icon></h2>
    <div class="create-form-control">
      <label class="create-form-control-label">Date</label>
      <mat-form-field appearance="outline" class="create-form-control-input">
          <input matInput [matDatepicker]="picker" [formControl]="sessionDate">
          <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      </mat-form-field>
    </div>
    <div class="create-form-control">
      <label class="create-form-control-label">Participants</label>
      <mat-form-field appearance="outline" class="create-form-control-input">
          <mat-label>Select participants</mat-label>
          <mat-select [formControl]="sessionParticipants" multiple>
            <mat-option *ngFor="let participant of participantList" [value]="participant.id"
            >{{participant.firstName}} {{participant.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <input type="submit" class="btn form-control-btn" value="Create" /> 
    <!-- <input type="button" class="btn" (click)="toggleForm()" value="Cancel" /> -->
  </form>
</div>
